.site-footer {
    background-color: $darkBlue;
    &__logo-container {
        img {
            height: 5rem;
        }
    }
    &__description {
        display: block;
        font-size: 0.9rem;
        margin: 1.2rem 0;
        color: $lightGrey;
    }
    .site-info {
        display: flex;
        justify-content: space-between;
        @include container-margins;
        padding: 2.5rem 0;
        @media only screen and (max-width: $tablet_max) {
           flex-direction: column;
        }
    }
    &__social-icons {
        display: flex;
        justify-content: space-between;
        margin-top: 1.3rem;
        @media only screen and (max-width: $tablet_max) {
            justify-content: unset;
            margin-bottom: 1.5rem;
        }
    }
    &__social-icon {
        @media only screen and (max-width: $tablet_max) {
            margin-right: 1rem;
        }
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .footer-navigation {
        ul {
            list-style: none;
            li {
                a {
                    color: $white;
                    @media only screen and (max-width: $tablet_max) {
                        display: block;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
    &__podcast-info-title {
        color: rgba($lightGrey, 0.5);
        font-size: 1rem;
        font-weight: 500;
        @media only screen and (max-width: $tablet_max) {
            margin-top: 1.2rem;
        }
    }

    &__podcasts-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        margin-top: 1.2rem;
        @media only screen and (max-width: $tablet_max) {
            justify-content: unset;
        }
    }
    &__podcasts-icon {
        flex-basis: calc((100% / 3) - 1rem);
        @media only screen and (max-width: $tablet_max) {
            flex-basis: 1.5rem;
            margin-right: 1.2rem;
        }
        img {
            @media only screen and (max-width: $tablet_max) {
                height: 1.5rem;
            }
        }
    }
}

