.episodes {
   .site-header__container {
        background-color: transparent;
        position: relative;
        z-index: 10;
   }
   #site-navigation{
     li a {
      color: $darkBlue;
     }
   }
}

.c-episodes {
    &__featured-episode {
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, #002E25 0%, rgba(0, 46, 37, 0) 100%);
            z-index: 10;
            display: block;
        }
    }
       
    &__featured-episode-thumbnail {
       img {
        width: 100vw;
        max-height: 600px;
        height: 100%;
        object-fit: cover;
        z-index: 5;
       }
    }
    
    &__featured-episode-title {
        color: $white;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 1.5rem;
    }

    &__featured-episode-desc {
        color: $white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__featured-episode-cta {
        display: inline-block;
        margin-top: 2rem;
        background-color: $green;
        color: $white;
        padding: 0.8rem 1.2rem;
    }

    &__featured-episode-content {
       position: absolute;
       top: 15%;
       left: 25%;
       z-index: 12;
    }


    //LIST EPISODES 

    &__title-content {
        @include container-margins;
    }

    &__title {
        margin-bottom: 2rem;
        h3 {
            text-align: center;
            font-weight: 600;
            font-size: 1.8rem;
            position: relative;
            color: $darkBlue;
            strong {
                font-weight: 700;
                position: relative;
                z-index: 10;
                &::after {
                    content: '';
                    background-color: $green;
                    width: 100%;
                    height: 0;
                    padding-bottom: 0.5rem;
                    display: block;
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    z-index: -1;
                }
            }
            &::after {
                content: '';
                background-image: url('../img/icons/podcast-icon.svg');
                background-repeat: no-repeat;
                background-size: 30px 30px;
                width: 30px;
                height: 30px;
                display: inline-block;
                margin-left: 1rem;
                vertical-align: middle;
                z-index: 1;
            }
        }
    }

    &__desc {
        margin-bottom: 3.5rem;
        text-align: center;
        font-size: 0.9rem;
        color: $lightGrey;
    }

    &__list-section {
        margin-top: 5rem;
        padding-bottom: 5rem
    }
    &__list {
        @include container-margins;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

    }
    &__episode {
        flex-basis: calc((100% / 3) - 2rem);
        margin-bottom: 4.5rem;
    }

    &__episode-title {
        color: $green;
        font-weight: 500;
    }

    &__episode-desc {
        display: block;
        margin-top: 0.5rem;
        color: $darkBlue;
        font-size: 0.9rem;
    }

    &__episode-air-date {
        display: block;
        font-size: 0.9rem;
        margin-top: 0.5rem;
        color: $lightGrey;
        span {
            margin-right: 0.2rem;
        }
    }

    &__episode-cta {
        display: inline-block;
        border: 1.2px solid $green;
        color: $green;
        padding: 0.8rem 1.2rem;
        margin-top: 1.5rem;
        transition: all 300ms ease-in;
        &:hover {
            background-color: $green;
            color: $white;
        }
    }

    &__episode-thumb {
        position: relative;
        overflow: hidden;
        display: block;
        margin-bottom: 0.8rem;
        z-index: 1;
        &::before {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 80%;
        }
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            box-shadow: $box-shadow-light-black;
            transition: all 300ms ease-in;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
