.c-single-episode {
    @include container-margins;

    &__header {
        background-color: $green;
        text-align: center;
        padding: 3.5rem 0;
        padding-bottom: 20rem;
        position: relative;
        width: 100vw;
        left: calc(50% - 50vw);
        z-index: 1;
    }

    &__date {
        color: rgba($white, 0.7);
    }

    &__desc {
        color: $white;
        margin-top: 1rem;
    }

    //CONTENT

    &__description-title {
        font-weight: 500;
        font-size: 1.2rem;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        color: $green;
    }

    &__description {
        p {
            line-height: 26px;
        }
    }

    
    &__title {
        font-size: 3.5rem;
        font-weight: 500;
        display: block;
        padding-top: 2.5rem;
        color: $white;
        padding-bottom: 2rem;
        text-shadow: 5px 5px 5px rgba($black,0.3);
    }
    &__main-content {
        margin-bottom: 4rem;
    }

    &__content {
        padding-bottom: 10rem;
        @include container-margins;
        position: relative;
    }

    &__share-icons-container {
        margin-top: 1.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
   &__share-icons {
        display: flex;
        margin-left: 1.2rem;
   }
   &__share-icon {
        margin-right: 1rem;
        img {
            height: 1.4rem;
        }
   }

   // VIDEO 
   .plyr--video {
      position: relative;
      z-index: 10;
      margin-top: -15rem;
   }

   .plyr__control--overlaid, .plyr--full-ui input[type="range"]::-moz-range-progress {
      background-color: $green;
   }

   .plyr__time {
      font-family: $roboto;
   }

   .plyr__menu {
    div {
      font-family: $roboto !important;
    }
   }

  //AUDIO 
  &__audio-player-container {
    margin-top: 7.5rem;
  }

  &__audio-title {
    color: $darkBlue;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__audio-player-title {
    font-family: $raleway;
    font-weight: 600;
    color: $green;
    text-align: center;
    margin-top: 2.5rem;
  }

  &__podcast-services {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
  }

  &__podcast-services-title {
    margin-top: 4rem;
  }

  &__podcast-service {
    margin-right: 1.2rem;
    img {
      height: 1.4rem;
    }
  }

}